    <div class="header">
        <div class="container"> 
            <a href="/" title="Muddy Bugs - Providing Forest Schools in Berkshire, Surrey &amp; Hampshire" rel="home">
                <img src="/assets/muddy-bugs.png" width="630" height="162" alt="Muddy Bugs - Providing Forest Schools in Berkshire, Surrey &amp; Hampshire logo" title="Muddy Bugs - Providing Forest Schools in Berkshire, Surrey &amp; Hampshire" class="img-responsive">
            </a>
		    <div id="site-description"></div>
        </div>
    </div> 