<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}{% if page.title %} - {% endif %}{{ site.title }}{% if site.description %} - {% endif %}{{ site.description }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} blog feed" href="{{ "/feed.xml" | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-19388104-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-19388104-1');
</script>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}{% if page.title %} - {% endif %}{{ site.title }}{% if site.description %} - {% endif %}{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://www.muddy-bugs.co.uk/assets/muddy-bugs.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ page.title }}{% if page.title %} - {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.modified %}<meta property="article:modified_time" content="{{ page.modified | date_to_xmlschema }}">{% endif %}
    {% if page.imageurl %}<meta property="og:image" content="{{ page.imageurl }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">{% endif %}
    <meta property="og:locale" content="en_GB">
    <meta name="theme-color" content="#026ed2">
</head>
